@font-face {
    font-family:sigma;
    src: url
}

* {

    margin: 0;
}

body {
    background-color: #1d1a39;
}



.header {
    background-color: #ae445a;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    color: #f39f5a;
    padding-bottom: 1px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.header a {
    color: #f7c34c;
    font-size: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-decoration: none;
}

.characters{

}

.story{

}

.author{

}