
* {

    margin: 0;
}

body {
    background-color: #101010;
    background-image: url('pewidiepiewaves.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}



.header {
    background-image: url('csmheader.avif');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    background-color: #8c1515;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    color: #f39f5a;
    padding-bottom: 1px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.header a {
    
    color: #ffb300;
    font-size: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-decoration: none;
    margin-bottom: 80px;
}

#authorurl{
    #
}

#charactersurl{
    #
}

#csmlogo{
    #
}

.main img{
    border:5px solid #ffffff; padding:3px; margin:px
}

.main{
    position: relative;
}

.main img {
    position: absolute;
}


#denji1 {
    top: 19vh;
    left: 38%;
    z-index: 9;
}

#power1 {
    top: 6vh;
    left: 61%;
}

#aki {
    top: 35vh;
    left: 17%
}

#rezebomb {
    top: 81vh;
    left: 1%
}

#weaponhybrids {
    top: 90vh;
    left: 50%
}

#lookback {
    top: 170vh;
    left: 72%;
}

#firepunch {
    top: 230vh;
    left: 29%;
}

#fujimoto {
    top: 209vh;
    left: 49%;
    z-index: 10;

}

#goodbyeeri {
    top: 250vh;
    left: 10%;

}

#fujimotoworks {
    top: 170vh;
    left: 1%
}

#fujimotoavatar {
    top: 300vh;
    left: 88%;

}

.characters{

}


.author{

}