
* {

    margin: 0;
}

body {
    background-color: #1d1a39;
}



.header {
    background-color: #ae445a;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    color: #f39f5a;
    padding-bottom: 1px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.header a {
    color: #f7c34c;
    font-size: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-decoration: none;
}



.main{
    position: relative;
}

.main img {
    position: absolute;
}

#puppy {
    top: 109vh;
    left: 54%;
    z-index: 10;

}

#puppy2 {
    top: 20vh;
    left: 39%;
    z-index: 9;
}

#puppy3 {
    top: 6vh;
    left: 60%;
}

#puppy4 {
    top: 50vh;
    left: 13%
}

#puppy5 {
    top: 8vh;
    left: 1%
}

#puppy6 {
    top: 70vh;
    left: 85%
}

.characters{

}

.story{

}

.author{

}